<h2>List: <%= @list_id %> | <%= @products.count %> products</h2>

<table class='table'>
<tr>
  <th></th>
  <th>Title</th>
  <th>Ranking</th>
  <th>Swipe score</th>
</tr>
<% @products.each_with_index do |product, i| %>
  <tr>
    <td><%= i + 1 %></td>
    <td><img src='<%= product['image'] %>' style='width: 100px'/></td>
    <td><%= product['title'] %></td>
    <td><%= product['rating'] %></td>
    <td><%= Redis.current.zscore("kadootjr-group:#{@list_id}:swipe-popularity", product['id']).to_i %></td>
  </tr>
<% end %>
</table>

<style type="text/css" media="screen">
  body {
    font-family: Arial;
  }
</style>
