<table class='table'>
  <% Group.all.each do |g| %>
    <tr>
      <td><%= g['id'] %></td>
      <td><a href='/admin/lists/<%= g['id'] %>'><%= g['name'] %></a></td>
    </tr>
  <% end %>
</table>

<table class='table'>
  <% Redis.current.info.each do |k,v| %>
    <tr>
      <td><strong><%= k %></strong></td>
      <td><%= v %></td>
    </tr>
  <% end %>
</table>
