<h2>List: <%= @list_id %> | <%= @products.count %> products</h2>

<div>
  Total unfiltered: <%= Redis.current.zcard("kadootjr-group:#{@list_id}:ratings") %>
</div>

<a href='?limit=25'>max 25 weergeven</a>
<a href='?limit=100'>max 100 weergeven</a>
<a href='?limit=250'>max 250 weergeven</a>
<a href='?limit=1000'>max 1000 weergeven</a>
<a href='?limit=10000'>max 10.000 weergeven</a>

<table class='table'>
<tr>
  <th></th>
  <th></th>
  <th>Title</th>
  <th>Bol Ranking</th>
  <th>Prijs</th>
  <th>Rank/10</th>
  <th>Swipe score</th>
</tr>
<% @products.each_with_index do |product, i| %>
  <tr>
    <td><%= i + 1 %></td>
    <td><img src='<%= product['image'] %>' style='width: 100px'/></td>
    <td>
      <h3><%= product['title'] %></h3>
      <a href="http://tips.kadootjr.nl/<%= product['id'].to_i.to_s(36) %>-s" target="_blank">http://tips.kadootjr.nl/<%= product['id'].to_i.to_s(36) %>-s</a>
    </td>
    <td><%= product['rating'] %></td>
    <td><%= product['price'] %></td>
    <td><%= Redis.current.zscore("kadootjr-group:#{@list_id}:ratings", product['id']).to_i %></td>
    <td><%= Redis.current.zscore("kadootjr-group:#{@list_id}:swipe-popularity", product['id']).to_i %></td>
  </tr>
<% end %>
</table>

<style type="text/css" media="screen">
  body {
    font-family: Arial;
  }
</style>
